body {
    background-image: url(../img/imagemDeFundo.png);
    color: aliceblue;
}
.btn_btn-primary{
    background-color: #14B346;
    text-decoration: none;
    color: aliceblue;
    width: 105px;
    height: 37px;
    border-radius: 30px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    text-decoration: none; color: inherit;
    border-style: none;
    outline: 0px;
}
.btn_btn-primary{
    background-color: #B31454;
    text-decoration: none;
    color: aliceblue;
    width: 105px;
    height: 37px;
    border-radius: 30px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    text-decoration: none; color: inherit;
    border-style: none;
    outline: 0px;
} 
.btn_btn-primary{
    background-color: #9314B3;
    text-decoration: none;
    color: aliceblue;
    width: 167px;
    height: 56px;
    border-radius: 30px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    text-decoration: none; color: inherit;
    border-style: none;
    outline: 0px;


}
.texto > p{
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    
    
}
.descricao {
    background-color: #6A4EA6;
    border-radius: 50px;
    
}

.descricao > h1{
    color: #72CA8E;
    text-align: center;
    font-size: 25px;
}

    .logo > img {
        text-align: end;
        width: 320px;
        height: 230px;
        

}

