body {
    background-image: url(../img/imagemDeFundo.png);
    color: aliceblue;
}
.botao > button{
    background-color: #B31454;
    text-decoration: none;
    color: aliceblue;
    width: 105px;
    height: 37px;
    border-radius: 30px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    text-decoration: none; color: inherit;
    border-style: none;
    outline: 0px;
}
.btn_btn-primary{
    background-color: #B31454;
    text-decoration: none;
    color: aliceblue;
    width: 105px;
    height: 37px;
    border-radius: 30px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    text-decoration: none; color: inherit;
    border-style: none;
    outline: 0px;
} 
.btn_btn-primary{
    background-color: #9314B3;
    text-decoration: none;
    color: aliceblue;
    width: 167px;
    height: 56px;
    border-radius: 30px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    text-decoration: none; color: inherit;
    border-style: none;
    outline: 0px;


}
.texto > p{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family:cursive;
    
    
    
}
.descricao {
    background-color: #774bd8;
    border-radius: 50px;
    width:700px ;
    height: 250px;
    
    
}

.descricao > h1{
    color: #58f78a;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

    .logo > img {
        margin-left: 200px;
        width: 320px;
        height: 230px;
        

}

