body {
    background-image: url(../img/imagemDeFundo.png);
    color: aliceblue;
}

.logo > img {
    width: 343px;
    height: 254px;
    text-align: center;

}
.furm {
    color: white;
}
.part{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.part:link{
    text-decoration: none;
}
