<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajantes.com</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="estilo.css">
</head>
  <body style="background-color:black;">

    </style>
  
    <form style="color: white; text-align: center;">
        <br>
        <br>
        <br>
        <label for="fname">Nome completo</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Email</label><br>
        <input type="text" id="lname" name="lname"><br> 
        <label for="kname">Senha</label><br> 
        <input type="text" id="kname" name="kname">
        </form>
        <br>
        <br>
        <br>
        <button>
          <div style="text-align: center;">
            Login
          </div>
        </button>

        <button>
            <div style="text-align: center;">
              Cadastrar
            </div>
          </button>
 
</body>
</html>