<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajantes.com</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">

    <link th:href="@{/css/cadastro.css}" rel="stylesheet">

</head>
  <body >

    </style>
  <!--Formulario de cadastro-->
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"> 
      <form action="/usuario/insere" method="post"> 
      <label for="texto">Nome:</label>
      <input type="text" id="login" name="login"><br><br>
      <label for="text">Email:</label>
      <input type="text" id="nomeCompleto" name="nomeCompleto"><br><br>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha"><br><br>
      <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar" /></p>
  </form>
  <button><a href="/login">Login</a></button>
  <button><a href="/inicial">Voltar</a></button></div>
    <div class="col-sm-4"></div>
</div>
</div>
   
</body>
</html>