<DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="coisa.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" 
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" 
    crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>
    <body>
    <div class="row">
    <div class="wrapper">
    <div class="sidebar">
    <h2><Menu></h2>
    <ul>
        <li><a href="#"><i class="fas fa-home"></i><a href="paginainicial.html">Página Inicial</a></li>
        <li><a href="#"><i class="fas fa-home"></i><a href="cursos.html">Cursos </a></li>
        <li><a href="#"><i class="fas fa-home"></i><a href="forum.html">Fórum</a></li>
    <li><a href="#"><i class="fas fa-home"></i>Profile</a></li>
    </ul>
    <div class="main_content">
    <div class="header"></div>
    <div class="info"></div>
    </div>
    </div>
</div>
</div>

    <div class="container">
        <div class="row">
            <div class="col">
            <div style="text-align: center;">
                <br><br><br>
            Hard Skills
        </div>
    </div>
        </div>
        <div class="row">
            <div class="col">
                <div style="text-align: center;">
                <button>JavaScript</button>
                <button>Java Web</button>
               <button> Python</button>
            </div>
        </div>


        </div>

     =    <div class="container">
        <div class="row">
            <div class="col">
            <div style="text-align: center;">
                <br><br><br>
            Soft Skills
        </div>
    </div>
        </div>
        <div class="row">
            <div class="col">
                <div style="text-align: center;">
                <button>Resolução de Conflitos</button>
                <button>Gestão do Tempo</button>
               <button>Autoconhecimento</button>
            </div>
        </div>


        </div>

    </div>
    </body>
    </html>