<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../static/Aulas.css">
    <title>Aulas</title>
</head>
<body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0LB3FSfjvao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <button><a href="/cursos">Voltar</a></button>
    <button><a href="./Cursopython.html">Próxima aula</a></button>
</body>
</html>