<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/inicial.css}" rel="stylesheet"> <!--link do css-->

    <title>Viajantes.com</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous"> <!--Link do bootstrap-->
</head>
  
<body>

    
    <div class="row"> <!--Primeira Coluna-->
    <div class="col-sm-3">
    <div>
    
        
            
    
    </div>
    </div>

    <div class="col-sm-5"> <!--Segunda Coluna-->
    <div>
    <div class="logo">
           
            <img src="img/logo.verde.png"> <!--Logo-->
        
    </div> 
    <div class="descricao">
            <h1>PLATAFORMA GRATUITA PARA SE AVENTURAR EM CONHECIMENTO</h1>
            <div class="texto">
            <p>A Viajantes.com é um espaço para entusiastas do mundo da tecnologia se informarem e trocarem experiências. <br>
                Aqui você tem acesso a conteúdos de primeira que te tornarão um profissional do futuro. <br>
                Venha embarcar nessa jornada por aprendizado!<br></p>
        </div>
    </div>
    <div class="row">
    <div class="principal">
            <div class="login">
        <a class="btn btn-primary" href="/login" role="button">login</a>
        <!--Botão login-->
        </div>

        <div class="cadastro">
                <div style="text-align: initial;">
                <a class="btn btn-primary" href="/cadastro" role="button">Cadastro</a>
                   <!--Botão cadastro--> 
        </div>
        <a class="btn btn-primary" href="/principal" role="button">Página Principal</a>
            <!--Botão para a página principal-->
        </div>
    </div>
</div>
    </div>
     
    <div class="col-sm-2"> <!--Terceira Coluna-->
       
       
    
        </div>
    </div>
    <div class="col-sm-2">
        
            </div>
            
    </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>