<DOCTYPE html>
    <html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/principal.css}" rel="stylesheet">
    <title>Viajantes.com</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
        <div class="row">
        <div class="col-sm-4">
        <div class="wrapper">
        <div class="sidebar">
            <h2><Menu></h2>
            <ul>
            <li><a href="#"><a href="/principal">Página Principal</a></li>
            <li><a href="#"><a href="/cursos">Cursos </a></li>
            <li><a href="#"><a target="_blank" href="https://join.slack.com/t/novoworkspace-aqz2029/shared_invite/zt-gd6mpyzb-1wi~KW01k8_HzjlJxm0UWA">Fórum</a></li>
                    
            </ul>

        <div class="main_content">
        <div class="header"></div>
        <div class="info"></div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="logo">
            <img src="img/logo.verde.png"> <!--Logo-->
        </div>
        <h1> O que são softs skills e hard skills? </h1>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/CnMjIgvjPyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <br>
        <br>

        <h1>Por que aprender a programar?</h1>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/mHW1Hsqlp6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <br>
        <br>

        <h1>Por onde começar para programar?</h1>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/nLPssMXOExM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
           
        </div>
        </div>
        
        <div class="col-sm-4">

        </div>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    </body>
    </html>
    
    
